#product_panel {
  margin-top: 2em;
}


/* ## Create Item Panel ## */

#create_item_panel {
    margin-top: 4em;
}

#item_name {
    
}

#item_price {
    
}

#item_type {

}

#create_item_btn {
    margin-top: 2.5em;
}

/* ## Create Item Panel End ## /*