#product_panel {
    margin-top: 2em;
}


/* ## Create Item Panel ## */

#create_item_panel {
    margin-top: 4em;
}

#item_name {}

#item_price {}

#item_type {}

#create_item_btn {
    margin-top: 2.5em;
}


/* ## Create Item Panel End ## */


/* ## Log In Panel */

#login_panel {
    margin-top: 4em;
}

#login_email {}

#login_pw {}

#login_text {
    font-size: 15px;
}

#login_btn {
    margin-top: 0em;
}


/* ## Log In Panel End */


/* ## Register Panel ## */

#register_panel {
    margin-top: 4em;
}

#register_name {}

#register_email {}

#register_pw {}

#gender_txt {}

#register_btn {
    margin-top: 3em;
}


/* ## Register Panel End ## */


/* ## Type Panel ## */

#type_panel {
    height: 400px;
}

#type_panel_st {
    height: 350px;
    width: auto;
}

#type_img {
    height: 220px;
    width: 150px;
}


/* ## Type Panel End ## */


/* ## Doughnut Chart ## */

#doughnut_chart {
    width: 550px;
    height: auto;
    margin: 0 auto;
}


/* ## Doughnut Chart End ## */
